<!DOCTYPE html>
<html>
    <head>
        <title>Favr Login</title>
        {{> head}}
    </head>

    <body>
      <div class = "container">

        <h1>Favr Fam</h1>
        {{#if message}}
        <h4>*Invalid username and/or password </h4>
        {{/if}}

        <!-- action='/authenticate', method = 'post' -->
        <form id='login' action='/authenticate', method = 'post'>
            Username <input type="text" name="username" required/> <br><br>
            Password <input type="password" name="password" required/> <br> <br>
            <input type="submit" value="Login"/>

            <input type="button" onclick="location.href='signup'" value="Sign Up"/>
        </form>

      </div>
        <!--<script language="javascript">
            function check(form) { /*function to check userid & password*/
                /*the following code checkes whether the entered userid and password are matching*/
                if(form.userid.value == "Cam Newton" && form.pswrd.value == "panthers") {
                    window.open('home', '_self',false)/*opens the target page while Id & password matches*/
                }
                else {
                    alert("Incorrect Username or Password")/*displays error message*/
                }
            }
        </script>-->
    </body>
</html>
