<!DOCTYPE html>
<html>
  <head>
    <title>Favr Offer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <script src="js/jquery-1.11.0.js"> </script> 
    <script src="js/introHCI.js"> </script>


  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home">FAVR</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="profile">My Profile</a></li>
          <li><a href="home">Pending Favrs</a></li>
          <li class="active"><a href="offer">Offer a Favr</a></li>
          <li><a href="request">Request a Favr</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
    </nav>


	<div class="container">

    <h2>Offer a Favr</h2> 
    <h4> I want to do a favor for someone </h4>

    <div class="formcontainer">
      <form class="form" action="/offerFavr" method="get"><br>
        Who is this Favr for?<br>
        <input type="text" name="name" maxlength="20" required><br><br>
        What is this Favr?<br>
        <input type="text" name="task" maxlength="20" required><br><br>
        Complete by:<br>
        <input type="datetime-local" name="date"><br><br>
        <input type="submit" id="offer" value="Submit"/><br><br>
      </form>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
