<!DOCTYPE html>
<html>
  <head>
    <title>Favr Request</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">
    <script src="js/jquery-1.11.0.js"> </script>
    <script src="js/introHCI.js"> </script>


  </head>
  <body>

    {{> menu}}

  	<div class="container">

      <h2>Request a Favr</h2>
      <h4>I want someone to do a favor for me</h4>

      <div class="formcontainer">
        <form class="form" action="/requestFavr" method="get"><br>
          Who needs to do a Favr for you?<br>
          <input type="text" name="name" maxlength="20" required><br><br>
          What is this Favr?<br>
          <input type="text" name="task" maxlength="20" required><br><br>
          Complete by:<br>
          <input type="date" name="date"><br><br>
          <input type="submit" id="request" value="Submit"><br><br>
        </form>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
