<html>
 <head>
    <title>Favr Sign Up</title>
    {{> head}}
</head>

<body>
 <div class="container">

	<header>
		<h1>Sign Up</h1>
    </header>

    <div>
    	<form action="/" method="post">
    		<p> Username </p>
    		<input type="text" name="name" required>

            <br><br>
            <p> Password </p>
    		<input type = "password"name="password" required>

            <br><br>
            <input class="button" name="submit" id="submit" tabindex="5" value="Sign me up!" type="submit">

            <br><br>
            <a href="/">Return to Login</a>

        </form>
    </div>

</div>


</body>
</html>
